<div class="w-full flex flex-row items-center p-2 justify-between bg-white shadow-xs bg-indigo-500">
  <%= link_to 'Property Showcase', root_path, class: "ml-8 text-lg text-white hidden md:flex" %>
</div>