<p id="notice"><%= notice %></p>

<% @properties.each do |property| %>
  <%= link_to property_path(property) do %>
    <div class="overflow-hidden shadow-lg rounded-2xl h-90 w-64  m-auto">
    <img alt="property-picture" src="/images/car/1.jpg" class="rounded-t-lg"/>
    <div class="bg-white w-full p-4 relative">
      <p class="text-gray-800 text-xl font-medium mb-2">
        <%= property.name %>
      </p>
      <p class="text-gray-600 text-xs">
        <%= property.address %>
      </p>
    </div>
  <% end %>
<% end %>