<p id="notice"><%= notice %></p>
<div class="flex flex-col">
  <section class="text-gray-600 body-font">
    <div class="flex flex-wrap w-full mb-8">
      <div class="w-full mb-6 lg:mb-0">
        <h1 class="sm:text-4xl text-5xl font-bold font-medium title-font mb-2 text-gray-900">All Properties</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <div class="flex flex-wrap -m-4 w-full">
      <% @properties.each do |property| %>
        <div class="p-4">
          <%= link_to property_path(property) do %>
            <%= render "property_card", property: property %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
  <div class='mt-10'>
    <%= link_to 'Add New Property', new_property_path, class: 'py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg' %>
  </div>
</div>

